{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h2>Lista de Funcionários
    <span class="pull-right">
      <a href="{% url 'caixa:caixa_add' %}">
        <button type="button" class="btn btn-primary">
          <span class="fa fa-plus"></span> Cadastrar
        </button>
      </a>
    </span>
  </h2>

  {% if object_list %}
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Nome</th>
          <th class="text-center">Salário</th>
          <th class="text-center">Hora extra</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <td class="text-center"> <a href="{{ object.get_absolute_url }}">{{ object.nome }}</a></td>
            <td class="text-center">R$ {{ object.salario }}</span></td>
            <td class="text-center">{{ object.horaextra}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-warning">Sem funcionários cadastrados.</p>
  {% endif %}

</div>

{% include "includes/pagination.html" %}

{% endblock content %}
