{% extends "base.html" %}

{% block content %}

<div class="jumbotron centro">
  <div class="container">
    {% if user.is_authenticated %}
      <h1>Bem-vindo {{ user }}!</h1>
    {% else %}
      <h1>Bem-vindo!</h1>
    {% endif %}
    <p> Sistema de controle de estoque Titans de Ouro.</p>
    <p>
      <a href="https://www.facebook.com/pages/Lanchonete-Titans-De-Ouro/940758169306920"> Veja Titans de Ouro no Facebook!</a>
    </p>
  </div>
   <div>
 	<img src="static/img/2.png">
  </div>
 </div>

</div>

{% endblock content %}











